<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victormagosso.vfood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.user.address.AddressActivity"
            android:parentActivityName=".activity.user.UserActivity" />
        <activity
            android:name=".activity.user.MenuActivity"
            android:parentActivityName=".activity.user.UserActivity" />
        <activity android:name=".activity.company.AddProductActivity" />
        <activity android:name=".activity.user.UserActivity" />
        <activity android:name=".activity.company.CompanyActivity" />
        <activity android:name=".login.AuthActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".helper.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>